<h1 class="text-center jumbotron">New dose</h1>

<%= simple_form_for([@cocktail, @dose ]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>
  <!-- # baby dolfijn hater. -->
  <%= f.input :ingredient, :collection => @ingredients %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>





